// Colors

$color-white: #fff;
$color-black: #000;
$color-red: #FF4053;
$color-deep-sky-blue: #0af;
$color-hint-of-red: #f2f1f0;
$color-nero: #222;
$color-romance: #ebeae8;
$color-spring-wood: #e3e2e1;
$color-dodger-blue: #0099f7;
$color-button-active: #008aed;
$color-summer-sky: #45c1ff;
$color-radical-red: #ff4053;
$color-grey: #757575;
$color-whisper: #e5e5e5;
$color-night-rider: #333;
$color-white-smoke: #f7f7f7;
$color-gainsboro: #dcdcdc;
$color-silver: #c6c6c6;
$color-curious-blue: #2c7dd2;
$color-apple: #699f4c;

// Typography

$ff-manrope: "Manrope", "Helvetica", "Arial", sans-serif;
